@import "~style/helpers";

.container {
  display: flex;
  justify-content: center;
  margin-bottom: 550px;
}
.container button {
  margin: 0 auto;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  display: block;
  background: #6da4cc;
  border: 1px solid #fff;
  color: #fff;
  font-weight: 300;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}
.container button:hover {
  background: #fff;
  color: #6da4cc;
  border: 1px solid transparent;
}

.box {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  border-radius: 1.5em;
  width: 23em;
  height: 13em;
  margin-top: -5em;
  transition: ease-in-out 1s;
  margin-left: 1.5em;
}

.box:hover {
  background-color: rgba(0, 0, 0, 0.5);
  transition: ease-in 1s;
}

.box1 {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  border-radius: 1.5em;
  width: 23em;
  height: 6.5em;
  margin-top: 1em;
  margin-left: 1.5em;
  transition: ease-in 1s;
}

.box1:hover {
  background-color: rgba(0, 0, 0, 0.5);
  transition: ease-in-out 1s;
}

.boxL {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  border-radius: 1.5em;
  width: 13em;
  height: 7.8em;
  margin-top: -9.5em;
  margin-left: -13.5em;
  border: none;
  transition: ease-in 1s;
  cursor: pointer;
  position: absolute;
}

.boxR {
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  border-radius: 1.5em;
  width: 13em;
  height: 7.8em;
  margin-top: 1em;
  margin-left: 14em;
  border: none;
  transition: ease-in 1s;
  cursor: pointer;
}

.lbut {
  font-family: sans-serif;
  font-size: 2em;
  margin-top: 0.7em;
  margin-left: 1em;
}

.boxR:hover {
  background: rgba(0, 0, 0, 0.5);
  transition: ease-in 1s;
}

.boxL:hover {
  background: rgba(0, 0, 0, 0.5);
  transition: ease-in 1s;
}

.lbutI {
  position: absolute;
  margin-top: -8.5em;
  margin-left: -8.7em;
  height: 8em;
  width: 8em;
}

.boxBottom {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  border-radius: 1.5em;
  width: 23em;
  height: 14.5em;
  margin-top: 1em;
  margin-left: 1.5em;
  transition: ease-in 1s;
}

.boxBottom:hover {
  background-color: rgba(0, 0, 0, 0.5);
  transition: ease-in 1s;
}

.appName {
  font-size: 1em;
  font-family: "Trebuchet MS";
  align-items: center;
  padding-top: 1em;
  letter-spacing: 0.2em;
}

.today {
  font-size: 1.8em;
  font-family: sans-serif;
  margin-right: 8.1em;
  margin-top: 2.5em;
}

.tempText {
  text-align: center;
  font-size: 2em;
  margin-top: -2em;
  font-weight: b;
}

.locText {
  font-size: 0.9em;
  font-family: "Trebuchet MS";
  margin-right: 15em;
  margin-top: 1em;
  margin-left: -1em;
}

.HiLoText {
  margin-right: -15em;
  margin-top: -4.5em;
}

.dayText {
  margin-top: 1em;
  margin-right: 18.5em;
  font-size: 0.8em;
}

.sevenday {
  font-size: 1.5em;
  margin-top: -2.5em;
  margin-left: 2.5em;
}

.change {
  white-space: pre-wrap;
  font-size: 1.8em;
  margin-top: -2.8em;
  margin-left: 1.3em;
}

.loc {
  white-space: pre-wrap;
  font-size: 1.4em;
  padding-top: 0.6em;
}

.select {
  display: block;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 700;
  color: #444;
  line-height: 1.3;
  padding: 0.6em 1.4em 0.5em 0.8em;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  border-radius: 0.5em;
  background-color: rgba(0, 0, 0, 0.13);
  margin-top: -1em;
}

a {
  text-decoration: none;
  color: white;
}

.sevenBox {
  background-color: rgba(0, 0, 0, 0.13);
  color: #fff;
  border-radius: 1.5em;
  width: 23em;
  height: 45em;
  margin-top: -5.5em;
  transition: ease-in-out 10s;
  margin-left: 1.5em;
}

.icon {
  position: absolute;
  margin-top: -7.5em;
  margin-left: -2.5em;
  height: 5em;
}

.cond {
  margin-top: -1.5em;
}

.locIcon {
  height: 2em;
  width: 2em;
  margin-right: 19em;
  margin-top: -0.6em;

}

.sevenIcon {
  height: 5em;
  width: 5em;
  margin-right: 14em;
  margin-top: 1em;
}

.forecast {
  margin-left: 2.4em;
  margin-top: 2em;
  transition: ease-in 1s;
}

.forecast:hover {
  background-color: rgba(0, 0, 0, 0.5);

  transition: ease-in 1s;
}

.forecastCity {
  font-family: "Poppins", sans-serif;
  font-size: 1.5em;
  margin: auto;
  margin-top: -2em;
}

table {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  border-radius: 1.5em;
  width: 23em;
}

.test {
  margin-left: -0.9em;
  margin-top: 2em;
}

.refresh {
  margin-left: 8.3em;
  position: absolute;
  margin-top: -12.3em;
  height: 2em;
  width: 2em;
}

.ex {
  width: 1em;
  height: 1em;
  margin-left: -5em;
  margin-top: -0.1em;
  position: absolute;
}

.sevenicon {
  height: 4em;
  width: 4em;
}

.modalc {
  background-color: rgba(0, 0, 0, 0.13);
  opacity: 0;
  position: fixed;
  width: 414px;
  height: 738px;
  padding-top: 80px;

  pointer-events: none;
  margin-top: -20em;
  transition: ease-in 2s;
  z-index: 100;
}

.modalc.show {
  opacity: 1;
  pointer-events: all;
  z-index: 100;
}

.modal {
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  max-width: 100%;
  width: 414px;
  height: 737px;
  position: fixed;
  margin-top: -28.8em;
  z-index: 100;
}

.modal2 {
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  max-width: 100%;
  width: 414px;
  height: 736px;
  position: fixed;
  margin-top: -30em;

  z-index: 100;
}

input[type="text"] {
  margin-top: 1%;
  margin-right: 1%;
  background-color: rgb(255, 255, 255);
  color: rgb(54, 53, 53);
  text-align: center;
  transition: ease-in 1s;
}

input[type="text"]:focus {
  transition: ease-in 1s;
  background-color: rgb(54, 53, 53);
  color: #fff;
}

.exit {
  margin-top: 1em;
  height: 2em;
  width: 2em;
}

.SL {
  margin-top: 300px;
  list-style-type: none;
  margin-left: 4.5em;
  text-align: center;
}

.SL li {
  border-bottom: 1px solid white;
  margin-bottom: 2em;
  width: 12em;
  height: 2em;
  transition: ease-in 1s;
}

.SL li:hover {
  background-color: rgba(0, 0, 0, 0.6);
  transition: ease-in 1s;
  cursor: pointer;
}

.sporthead {
  padding-top: 2em;
}



.weatherDisplayLeft{
  display: block;
  float: left;
  margin-left: 15%;
}

.weatherDisplayRight{
  display: block;
  float: right;
  margin-right: 15%;

}

.metricHeader{
  margin-bottom: 0;
  font-weight: bold;
  opacity: 0.5;
  padding: 1%;
}
.metricValue{
  font-size: 2em;
  margin-top: 0;
  font-weight: bold;
  padding: 1%;
  margin-bottom: 0px;
}



